@import "./lib/skeleton.scss";
@import "./_vars.scss";

.body {
  height: 100%;
  background-color: $light-grey;
}

a {
  text-decoration: none;
  transition: color .3s ease;
}

.center-text {
  text-align: center;
}

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .3s;
}

.fade-enter-active {
  transition-delay: .3s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

@font-face {
  font-family: 'Philosopher';
  src: url('~assets/Philosopher-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}